body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.centered{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    text-align:center;
}

.form-signin {
    max-width: 300px;
    padding: 15px;
    margin: 0 auto;
}


.lineup{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.navbar-brand {
    margin: 0;
    padding: 0;

}

.navbar-brand img{
    width:2.6em;
    height:2.3em;
    margin-top:-0.5em;
}

#mypageheader{
    margin-top:-3em;
}

