<h2>Betal til en</h2>


@using (Html.BeginForm("LeggTilBetaling", "User", FormMethod.Post))
{
    <section class="form-field">

        <input href="#dateField" type="checkbox" id="toggle-on" name="toggle" data-toggle="tab collapse" /><label for="toggle-on"> Registere betaling frem i tid</label>
        <div id="dateField" class="form-group collapse">
            <input name="dato" id="datepicker" type="text" class="form-control" placeholder="Trykk her for å velge dato..." />
        </div>

        <br/>
        <label for="selkontnr">Betale fra</label>
        <select name="fraKontonr" class="form-control" id="selkontnr">
            <option  value="1202.05.28050">1202.05.28050</option>
        </select>
        
        <label>Betale til konto</label>
        <input name="tilKontonr" id="tilKonto" type="text" class="form-control" placeholder="Kontonummer" />
        
        <label>KID/Melding</label>
        <input name="kid" type="text" class="form-control" placeholder="KID/Melding" />

        <label>Beløp</label>
        <input name="belop" id="belop" type="text" class="form-control" placeholder="NOK" />

        <br/>
        <!-- Trigger the modal with a button -->
        <button type="button" id="betalbtn" class="btn btn-success btn-lg" data-toggle="modal" data-target="#betal-modal">Betal</button>

        <!-- Modal -->
        <div id="betal-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Bekreftelse</h4>
                    </div>
                    <div class="modal-body">
                        <p id="modalMessage"></p>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Ja"
                               class="submit btn btn-success special-submit" />  
                        <button type="submit" class="btn btn-danger" data-dismiss="modal">Nei</button>
                    </div>
                </div>

            </div>
        </div>
         
    </section>
}



