<div class="table ">
    <h2>Oversikt registrerte betaleringer frem i tid</h2>
    <!--endre og sletteknapper her-->
    <table class="table table-bordered">
        <tr>
            <th>Dato</th>
            <th>Betal fra</th>
            <th>Betale til</th>
            <th>Beløp</th>
            <th>Type(nettgiro etc)</th>
            <th>Status</th>
            <th>Valg for betaling</th>
        </tr>
        <tr>
            <td>2.2.2015</td>
            <td>1202.05.28050</td>
            <td>1202.05.28050</td>
            <td>100 000</td>
            <td>eFaktura</td>
            <td>Aktiv</td>
            <td>
                <button type="button" class="btn btn-danger btn-xs">Slett</button>
                <button type="button" class="btn btn-warning btn-xs">Endre</button>
            </td>
        </tr>
    </table>
</div>
