<div class="table">
    <h2>Utførte betaleringer / banktransaksjoner : evt via kontoutskrift</h2>
    <h4>Måned</h4>
    <table class="table table-bordered">
        <tr>
            <th>Dato</th>
            <th>Betal fra</th>
            <th>Betale til</th>
            <th>Beløp</th>
            <th>Type</th>
            <th>BetalingsNummer</th>
        </tr>
        <tr>
            <td>1.1.2015</td>
            <td>1202.05.28050</td>
            <td>1202.05.28050</td>
            <td>100 000 000</td> 
            <td>eFaktura</td>
            <td>100</td>
        </tr>
    </table>
    <button type="button" class="btn btn-default">Kontoutskrift</button>
</div>
