
@{
    ViewBag.Title = "Hjem";
}

<div class="container centered">
    <div class="jumbotron">
        <h1>Hardbank</h1>
        <h2>Den Hardeste banken</h2>
        <p class="lead">Vi tilbyr den beste banken i norge. Vet du om noen andre
        banker som er hardere? Tenkte meg det</p>
    </div>
   
</div>

