
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading"><i class="glyphicon glyphicon-user"></i> Admin Logg Inn</h2>

        <label for="inputBrukerId" class="sr-only">Id</label>
        <input type="text" id="inputBrukerId" class="form-control" placeholder="Admin ID" />

        <label for="inputPassord" class="sr-only">Passord</label>
        <input type="password" class="form-control" placeholder="Passord" />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Logg inn</button>


    </form>
</div>