<div class="table ">
    <h2>Oversikt registrerte betaleringer</h2>
    <!--endre og sletteknapper her-->
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Dato</th>
                <th>Betal fra</th>
                <th>Betale til</th>
                <th>Beløp</th>
                <th>Kid</th>
                <th>Endre</th>
            </tr>
        </thead>





    </table>


   
</div>
